/* General body and font */
/*body {
	background: linear-gradient(120deg, #e3f2fd, #bbdefb);
	font-family: 'Poppins', sans-serif;
}*/

/* Card styling */
/*.card {
	border-radius: 15px;
	box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}*/

	/* Gradient headers for forms */
	/*.card .card-header-gradient {
		color: #fff;
		padding: 20px 15px;
		text-align: center;
		border-radius: 10px;
		margin-bottom: 20px;
	}*/

/* Registration header gradient */
/*.register-header {
	background: linear-gradient(90deg,#ffb347,#ffcc33);
}*/

/* Login header gradient */
/*.login-header {
	background: linear-gradient(90deg,#ffb347,#ffcc33);
}*/

/* Forgot Password header gradient */
/*.reset-header {
	background: linear-gradient(90deg,#ffb347,#ffcc33);
}*/

/* Form inputs */
/*.form-control {
	background-color: #ffffff;
	color: #3e3e3e;
	border-radius: 5px;
}

	.form-control:focus {
		border-color: #ff9900;
		box-shadow: 0 0 8px rgba(255,153,0,0.5);
	}

	.form-control::placeholder {
		color: #b36b00;
	}*/

/* Buttons */
/*.btn-warning {
	background-color: #ff9900;
	color: white;
	font-weight: 600;
	transition: 0.3s;
	border-radius: 0.375rem;
}

	.btn-warning:hover {
		background-color: #e68a00;
	}*/

/* Links inside forms */
/*.text-muted a {
	text-decoration: none;
	color: #ff9900;
	font-weight: 500;
}*/

/* Alerts inside forms */
/*.card .alert {
	margin-top: 10px;
	margin-bottom: 0;
}*/
